@page
@model IndexModel
@{
    ViewData["Title"] = "LifeNOTE";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@if (@IndexModel.screenmode == "exdoc1")
{


}
@if (@IndexModel.screenmode == "exdoc2")
{


}
@if (@IndexModel.screenmode == "normal")
{

    <!DOCTYPE html>
    <html lang="ja">
    <head>
        @*<link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="shortcut icon" href="./favicon-96x96.png">*@
        <link rel="manifest" href="./manifest.json">

        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />*@
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="./ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta charset="UTF-8">
        <title>Life NOTE</title>
        <body>
            <form method="post" name="firstbuttons" id="firstform">
                <div>
                    <div class="firstelements" id="firstelements">
                        <div class="row" style="height:auto;">
                            <div class="itemtitle col-md-6">
                                <div class="input-group">
                                    <input class="form-control border-end-0 border" type="search" value="" id="search">
                                    <span class="input-group-append">
                                        <button id="searchbutton" class="btn btn-secondary" type="button" onclick="Search()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="itemtitle col-md-6">
                                <div class="radios">
                                    <div class="radio d-inline-block">
                                        <label>
                                            <input type="radio" name="field" id="optionsRadios1" value="tytle">
                                            タイトル
                                        </label>
                                    </div>
                                    <div class="radio d-inline-block">
                                        <label>
                                            <input type="radio" name="field" id="optionsRadios1" value="body" checked>
                                            本文
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post" name="secoundbuttons" id="secoundbutton">
                <div>
                    @{
                        var htmlhead = "<div class=\"cp_tab\">";
                        for (int i = 1; i <= IndexModel.tablists.Count; i++)
                        {
                            if (i == 1)
                            {
                                htmlhead = htmlhead + "<input type=\"radio\" name=\"cp_tab\" id=\"tab3_" + i + "\" aria-controls=\"" + IndexModel.Numbers[i - 1] + "\" checked onclick=\"TabClick(this.id)\">" +

                                "                <label for=\"tab3_" + i + "\">" + IndexModel.tablists[i - 1] + "</label>";
                            }
                            else
                            {
                                htmlhead = htmlhead + "<input type=\"radio\" name=\"cp_tab\" id=\"tab3_" + i + "\" aria-controls=\"" + IndexModel.Numbers[i - 1] + "\"onclick=\"TabClick(this.id)\">" +

                                "                <label for=\"tab3_" + i + "\">" + IndexModel.tablists[i - 1] + "</label>";
                            }
                        }
                        @Html.Raw(htmlhead);
                    }
                    @{
                        var htmlbody = "<div class=\"cp_tabpanels\">";

                        for (int i = 1; i <= IndexModel.tablists.Count; i++)
                        {
                            if (i == IndexModel.selecttab)
                            {

                                htmlbody = htmlbody + "<div id=\"" + IndexModel.Numbers[i - 1] + "\" class=\"cp_tabpanel\">";

                            }
                            else
                            {
                                htmlbody = htmlbody + "<div id=\"" + IndexModel.Numbers[i - 1] + "\" class=\"cp_tabpanel\">" +

                                "                    </div>";
                            }
                        }
                        @Html.Raw(htmlbody);
                    }
                    @{
                        var htmlfoot = "</div>";
                        for (var i = 1; i <= IndexModel.tablists.Count; i++)
                        {
                            htmlfoot += "<div id=\"" + IndexModel.Numbers[i - 1] + "\" class=\"cp_tabpanel\">";
                        }
                        htmlfoot += "</div></div>";
                        @Html.Raw(htmlfoot);
                    }
                </div>
            </form>
           <form method="post" name="tytlecolumn" id="thirdform" class="test">
                <div>
                    @{
                        var listpane = "<div class=\"tab1\" id = \"tab1\" >" +

                                "<ul class=\"same-width-list\" id=\"same-width-list\">";

                        var label = "";
                        for (var i = 0; i <= IndexModel.titlelists.Count - 1; i++)
                        {
                            var label_title = IndexModel.titlelists[i];
                            label = label + "<li class=\"list-group-item\">" + @label_title + "</li>";
                        }
                        var listfoot = listpane + label + "</ul>" + "</ div >";
                        @Html.Raw(listfoot);
                    }
                    <body onload="initDoc();">

                        <form name="compForm" method="post" onsubmit="if(validateMode()){this.myDoc.value=oDoc.innerHTML;return true;}return false;">
                            <input type="hidden" name="myDoc">

                            <div id="textBox" contenteditable="true" style="@IndexModel.textheight">@Html.Raw(IndexModel.bodyelement)</div>
                            <p id="editMode"><input type="hidden" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /></p>
                            @*<p id="editMode"><input type="checkbox" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /> <label for="switchBox">Show HTML</label></p>*@
                        </form>
                    </body>
                </div>
                
            </form>

            @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>*@


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript">
                
            </script>
        </body>
    </head>
    </html>
    @*</div>*@

}
@if (@IndexModel.screenmode == "searched")
{

}
@if (@IndexModel.screenmode == "upload1")
{
    { Response.Redirect("Upload"); }
}
@if (@IndexModel.screenmode == "upload2")
{
    { Response.Redirect("Upload"); }
}


